---
title: Termine
---
<article>
    <section class="container">
        <div class="row">
            <div class="col">
                <h2>Upcoming</h2>
                <div class="row event">
                    <div class="card is-full-width">
                        <em>Bensheim</em><br/>
                        <strong>22. August 2021 - 11:00 Uhr</strong>
                        <header>
                            <h3>Hochst&auml;dter Haus</h3>
                        </header>
                        <p>Optinale Details: <%= lorem.sentences 2 %></p>
                        <a href="https://hochstädter-haus.de/">Link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <h2>Veranstaltungen</h2>
            </div>
        </div>
    </section>
</article>
