---
title: Termine
---
<article>
    <section class="container">
        <div class="row">
            <div class="col">
                <h2>Upcoming</h2>
                <p>Derzeit stehen keine anstehenden Veranstaltungen.</p>
            </div>
            <div class="col">
                <h2>Veranstaltungen</h2>
                <div class="row event">
                    <div class="card">
                        <header>
                            <strong>07. Juli 2020 - 11:30 Uhr</strong>
                            <h4>Jazz Brunch</h4>
                        </header>
                        <p>Details: <%=lorem.words 20 %></p>
                        <a href="javascript:;">Link</a>
                    </div>
                </div>
                <div class="row">
                    <div class="event card">
                        <header>
                            <strong>01. Januar 2020 - 13:00 Uhr</strong>
                            <h4>Imagin&auml;res Jazz Festival</h4>
                        </header>
                        <p>Details: <%=lorem.words 20 %></p>
                        <a href="javascript:;">Link</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
